*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

fieldset {
    all: unset;
}

legend {
    all: unset
}

.radio-list {
    display: flex;
    gap: 14px;
    list-style: none;
    padding-left: 0;
}


.radio {
    appearance: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: green;
}

.radio[value="red"] {
    background-color: #F37D7D;
}

.radio[value="green"] {
    background-color: #C2F37D;
}

.radio[value="blue"] {
    background-color: #7DE1F3;
}

.radio[value="yellow"] {
    background-color: #F3DB7D;
}

.radio[value="purple"] {
    background-color: #E77DF3;
}

.radio:checked {
    border-color: white;
    box-shadow: 0 0 0 3px white, /* Внутренняя обводка для создания промежутка */
    0 0 0 4.5px #007BFF; /* Внешняя обводка */
}

.note-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    margin: 0;
}

.notes-count {
    margin: 0;
    font-weight: 600;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.note-form {
    background: white;

    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    margin-top: 20px;
}

.note-form input[type="text"] {
    width: 100%;

    padding: 12px;

    margin-top: 8px;
    margin-bottom: 20px;

    border: 1px solid #d9d9d9;
    border-radius: 8px;

    font-size: 16px;
}

.note-form textarea {
    width: 100%;

    min-height: 120px;

    padding: 12px;

    margin-top: 8px;
    margin-bottom: 20px;

    border: 1px solid #d9d9d9;
    border-radius: 8px;

    font-size: 16px;

    resize: none;
}

.form-bottom {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-top: 20px;
}

.notes-list {
    list-style: none;

    padding: 0;
    margin-top: 30px;
}

.notes-list li {
    background: white;

    padding: 20px;

    border-radius: 12px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    margin-bottom: 20px;
}